body {
    background-color: rgb(225, 225, 227)
}

#layout_container {
    width: 500px;
    margin: 0px auto;
}

header img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

h3 {
    color: lightslategray;
    text-align: center;
    font-family: sans-serif;
}

form {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(180, 175, 175);
}

.text_input {
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

#name_id {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
}

#text_input_side_by_side {
    display: flex;
    justify-content: space-between;
}

#email_id {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
}


#password_id {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid lightgray;
}

#month_id,
#year_id,
#day_id {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding: 10px;
    
}

#birthday_side_by_side,
#gender_side_by_side {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    padding: 12px;
    text-align: center;
}

#female_id {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin: 10px;
}

#male_id {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin: 10px;
  
}

#custom_id {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin: 10px;
  
}

h5 {
    color: lightslategray;
    font-family: sans-serif;
    margin-left: 20px;
    width: 100%;
    
}


p {
    margin: 15px;
}

input[type=submit] {
    padding: 10px;
    width: 200px;
    border-radius: 7px;
    border: 1px;
    color: white;
    background-color: rgb(17, 162, 17);
    font-size: 20px;
}

input[type=submit]:hover {
    color:lightgrey;
}

#buttons_1 {
    text-align: center;
    margin: 20px;
}

input[type=button] {
    padding: 10px;
    width: 400px;
    border-radius: 7px;
    border: 1px;
    color: rgb(4, 138, 226);
    background-color: white;
    font-size: 20px;
    margin-bottom: 12px;

}

#buttons_2 {
    text-align: center;
    margin: 20px;
}















