body {
    margin: 0px;
    
}

header {
    background-color: rgb(55, 117, 97);
    padding: 48px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    color: white;
    font-family: cursive;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 14px;
    
}

.card {
    border: 1px solid black;
    padding: 8px;
    margin: 24px;
    box-shadow: 4px 4px 8px 2px gray;
    background-color: white;
}

#medium_heading {
    color:rgb(7, 146, 139);
    margin: 24px;
    font-family: cursive;
}

footer {
    background-color: rgb(55, 117, 97);
    padding: 21px;
}

footer p {
    color: white;
}

#card_image {
    height: 120px;
    margin: 16px;
}